{% extends "base.html"%}

{% block content %}






<div class="p-5 text-center bg-light">
    <h1 class="mb-3">Welcome to our Taxi Service!</h1>
</div>
  <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
  <div class="col">
    <div class="card h-100">
      <img src="/static/images/cars.jpg" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Cars</h5>
        <p class="card-text">
          There are {{ num_cars }} cars in our collection, all very cool and fast.
        </p>
      </div>
      <div class="card-footer">
        <a href="{% url 'taxi:car-list' %}" class="btn btn-info">To cars <i class="bi bi-car-front-fill"></i></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/images/manufacturers.png" class="card-img-top" alt="Los Angeles Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Manufacturers</h5>
        <p class="card-text">
          All famous manufacturers on our site. Everyone from {{ num_manufacturers }} has at least one car(except for Volskwagen and FCA)
        </p>
      </div>
      <div class="card-footer">
        <a href="{% url 'taxi:manufacturer-list' %}" class="btn btn-info">To manufacturers <i class="fas fa-industry"></i></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/images/drivers.jpg" class="card-img-top" alt="Palm Springs Road"/>
      <div class="card-body">
        <h5 class="card-title">Drivers</h5>
        <p class="card-text">
          All our {{ num_drivers }} drivers are professional and know their business, you can view and rate them.
        </p>
      </div>
      <div class="card-footer">
        <a href="{% url 'taxi:driver-list' %}" class="btn btn-info">To drives <i class="fas fa-users"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
